<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Success</title>

    <link rel="stylesheet"
          th:href="@{/style.css}">

</head>

<body>

<div class="success-container">

    <div class="success-box">

        <h1 th:text="${message}">
            Operation Successful!
        </h1>

        <p>
            Thank you for using Royal Stay.
        </p>

        <a th:href="@{/}"
           class="primary-btn">

            Back To Home

        </a>

    </div>

</div>

</body>

</html>